.about-hero {
  background: #014e56;
}

.about-hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-hero__heading {
  width: 100%;
  max-width: 350px;
}
.about-hero__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #ffffff;
}
.about-hero__desc {
  width: 100%;
  max-width: 730px;
}
.about-hero__line {
  border: 2px solid #F67E7E;;
  background-color: #F67E7E;;
  margin-bottom: 79px;
}

.about-hero__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
