.article {
  padding: 76px 0;
  background-color: #f67e7e;
  background-image: url("../images/contact-us-bgi.svg");
  background-repeat: no-repeat;
  background-size: 200px 244px;
  background-position: calc(50% - 600px) calc(50% + 80px);
}

.article__inner {
  width: 100%;
  max-width: 917px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
}

.article__link {
  color: #012f34;
  padding: 9px 33px 11px 32px;
  border: 2px solid #012f34;
  border-radius: 24px;
}

.article__link:hover {
  background: #012f34;
  border: 2px solid #012f34;
  border-radius: 24px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .article {
    padding: 84px 0;
    background-image: url("../images/contact-us-bgi.svg");
    background-size: 200px 244px;
    background-position: calc(50% - 284px) calc(50% + 90px);
  }
  .article__inner {
    max-width: 573px;
  }
  .article__title {
    font-size: 32px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .article {
    padding: 83px 0;
    background-image: url("../images/contact-us-bgi.svg");
    background-size: 200px 244px;
    background-position: calc(50% - 187px) calc(50% + 150px);
  }

  .article__inner {
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
}
