.hero {
  padding: 56px 0 250px;
  background-color: #014e56;
  background-image: url("../images/hero-bgi-left.svg"),
    url("../images/hero-bgi-bottom.svg");
  background-repeat: no-repeat;
  background-size: 200px 200px, 358px 200px;
  background-position: calc(50% - 750px) calc(50% - 100px),
    calc(50% + 400px) calc(50% + 250px);
}

.hero__inner {
  display: flex;
  align-items: flex-start;
}

.hero__headline {
  width: 100%;
  max-width: 620px;
}

.hero__title {
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
}

.hero__span {
  color: #f67e7e;
}

.hero__desc {
  margin-left: auto;
  width: 100%;
  max-width: 445px;
}

.hero__line {
  border: 2px solid #79c8c7;
  background-color: #79c8c7;
  margin-bottom: 79px;
}

.line {
  display: inline-block;
  width: 50px;
}

.hero__text {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .hero {
    padding: 48px 0 258px;
    background-image: url("../images/hero-bgi-bottom.svg");
    background-size: 358px 200px;
    background-position: calc(50%) calc(50% + 260px);
  }

  .hero__inner {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .hero__headline {
    margin: 0 auto;
    width: 397px;
  }

  .hero__title {
    font-size: 64px;
    line-height: 56px;
  }

  .hero__desc {
    max-width: 460px;
    margin: 24px auto 0;
    text-align: center;
  }
  .hero__line {
    display: none;
  }
  .hero__text {
    font-size: 15px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 576px) {
  .hero {
    padding: 32px 0 197px;
    background-image: url("../images/hero-bgi-bottom.svg");
    background-position: calc(50%) calc(50% + 220px);
  }

  .hero__headline {
    width: 240px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
  .hero__desc {
    max-width: 330px;
    margin-top: 18px;
  }
}
