.manage {
  padding: 140px 0;
  background-color: #012f34;
  background-image: url("../images/manage-bgi-bottom.svg");
  background-repeat: no-repeat;
  background-size: 200px 244px;
  background-position: calc(50% + 700px) calc(50% + 191px);
}

.manage__inner {
  display: flex;
  align-items: flex-start;
}

.manage__heading {
  width: 100%;
  max-width: 445px;
}

.manage__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
}

.manage__line {
  border: 2px solid #f67e7e;
  background-color: #f67e7e;
  margin-bottom: 54px;
}

.manage__list {
  width: 100%;
  max-width: 540px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.manage__item + .manage__item {
  margin-top: 32px;
}

.manage__item {
  padding-left: 95px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 72px 72px;
}

.manage__item:nth-child(1) {
  background-image: url("../images/Experienced.svg");
}

.manage__item:nth-child(2) {
  background-image: url("../images/Easy.svg");
}

.manage__item:nth-child(3) {
  background-image: url("../images/Enhanced.svg");
}

.manage-list__title {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
}

.manage-list__text {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .manage {
    padding: 100px 0;
    background-image: url("../images/manage-bgi-bottom.svg");
    background-size: 200px 244px;
    background-position: calc(50% + 385px) calc(50% - 245px);
  }

  .manage__inner {
    display: block;
    margin: 0 auto;
  }
  .manage__heading {
    margin: 0 auto 64px;
    max-width: 445px;
  }
  .manage__title {
    font-size: 32px;
    line-height: 32px;
  }
  .manage__list {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 576px) {
  .manage {
    padding: 64px 0;
    background-image: url("../images/manage-bgi-bottom.svg");
    background-size: 200px 244px;
    background-position: calc(50% + 285px) calc(50% - 410px);
  }
  .manage__heading {
    margin-bottom: 56px;
    max-width: 240px;
  }

  .manage__list {
    margin-top: 56px;
  }

  .manage__item {
    margin: 0 auto;
    padding: 0;
    padding-top: 80px;
    width: 327px;
    display: block;
    text-align: center;
    background-position: top center;
  }
}
