.site-footer {
  padding: 48px 0;
  background-color: #002529;
}

.site-footer__inner {
  display: flex;
  align-items: flex-start;
}

.footer__navbar {
  margin-top: 25px;
}

.site-footer__list {
  margin: 0;
  margin-left: 125px;
  padding: 0;
  list-style-type: none;
}

.site-footer__item {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.tel {
  text-decoration: none;
  color: #ffffff;
}

.list-cite {
  margin-left: auto;
}

.list-cite__list {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  list-style-type: none;
}

.footer__list-cite {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.list-item__img:hover {
  background-color: #F67E7E;
}

@media only screen and (max-width: 768px) {
  .site-footer {
    padding: 56px 0;
  }
  .site-footer__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .site-footer__list {
    margin-left: auto;
    text-align: end;
  }
  .list-cite {
    width: 100%;
    max-width: 728px;
    margin: 0;
    margin-top: 34px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  .list-cite__list {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .footer__navbar {
    margin: 0 auto;
    margin-top: 53px;
  }
  .footer__list-cite {
    display: inline-block;
  }
}

@media only screen and (max-width: 576px) {
  .site-footer__inner {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  .site-footer__main {
    text-align: center;
  }
  .site-footer__list {
    margin-left: 0;
    text-align: center;
  }
  .list-cite {
    margin: 42px auto 0;
    align-items: center;
    flex-direction: column;
  }
  .footer__navbar {
    margin: 24px auto 24px 190px;
  }
  .navbar__list {
    text-align: center;
  }
  .list-cite__list {
    margin: 0;
    text-align: center;
  }
  .footer__list-cite {
    text-align: center;
    margin: 0;
    margin-top: 18px;
  }  
}
